

body
{
    padding-top: 50px;
}

.starter-template
{
    padding: 10px 15px;
    text-align: center;
}

.timetable-entry
{
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

